<html>
    <head>
        <title>CinemaPop</title>
        <link href="https://fonts.googleapis.com/css?family=Rajdhani|Rubik+Mono+One" rel="stylesheet">
        <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Play|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
        <script src="/static/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="static/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/js/Chart.js"></script>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/custom.js"></script>
        <meta charset=utf-8 />
        <style>
          body {
            font-family: 'Play', sans-serif;
            animation-delay: 5s;
          }
          </style>
    </head>

    <style>
        @font-face {
          font-family: BeautySchool;
          src: url('static/beautyschooldropout.ttf');
        }
    </style>

    <body>
        <div class="background_img"></div>
        <div class="contents">
        <div class="prototypes">
            <a class="proto_link" style="margin-right: 10px;" href="http://cinemapop1.herokuapp.com/" target="_blank">Prototype 1</a>
            <a class="proto_link" href="http://cinemapop2.herokuapp.com/" target="_blank">Prototype 2</a>
        </div>
        <div class="logo_band">
          <img class="logo" src= "/static/logo2.png" alt="CinemaPop"></img>
          <!-- <p style="text-align: center; font-size: 20px; color: white;">Finding movies tailored to you</p> -->
          <form class="global-search custom-form" style="width: 100%; margin-bottom: 9%">
            <div class="form-row" style="height: 12%">
              <div class="form-group col-md-6">
                <label class="tags animated-label center">Similar Movies:</label>
                <input id="similar_movies" data-role="tagsinput" type="text" name="similar" placeholder="e.g. Black Panther, Star Wars, etc." style="width:75%" value="{{old_similar}}">
                <script>
                    var movies = new Bloodhound({
                      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                      queryTokenizer: Bloodhound.tokenizers.whitespace,
                      prefetch: {
                        url: 'static/data/movies.json'
                      }
                    });
                    movies.initialize();
                    $('#similar_movies').tagsinput({
                        typeaheadjs: {
                            name: 'movies',
                            displayKey: 'title',
                            valueKey: 'title',
                            source: movies.ttAdapter(),
                            hint: true,
                            higlight: true,
                            minLength: 1
                        },
                        confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                        maxTags: 3, //limit the number of tags
                        freeInput: false, //don't allow the user to submit free text
                        delimiter: ';'
                    });
                </script>
              </div>
              <div class="form-group col-md-6">
                <label class="tags center">Genres:</label>
                <input id="select_genres" data-role="tagsinput" type="text" name="genres" placeholder="e.g. Action, History, etc." value="{{old_genres}}">
                <script>
                    var genres_lst = new Bloodhound({
                      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                      queryTokenizer: Bloodhound.tokenizers.whitespace,
                      prefetch: {
                        url: 'static/data/genres.json',
                        transform: function (response) {
                            return response.genres;
                        },
                        cache: false
                      }
                    });
                    genres_lst.initialize();
                    $('#select_genres').tagsinput({
                        typeaheadjs: {
                            name: 'genres_lst',
                            displayKey: 'name',
                            valueKey: 'name',
                            source: genres_lst.ttAdapter(),
                            hint: true,
                            highlight: true,
                            minLength: 1
                        },
                        confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                        maxTags: 5, //limit the number of tags
                        freeInput: false, //don't allow the user to submit free text
                        delimiter: ';'
                    });
                </script>
              </div>
            </div><br><br><br><br><br><br>
            {% if advanced %}
            <div class="advanced">
            {% else %}
            <div class="advanced" style="display: none">
            {% endif %}
              <div class="form-row cast_crew">
                <div class="form-group col-md-6">
                  <label class="tags center">Cast/Crew:</label>
                  <input id="cast_crew" type="text" name="castCrew" placeholder="e.g. Name 1, Name 2, etc." value="{{old_castCrew}}" data-role="tagsinput">
                  <script>
                      var cast_lst = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        prefetch: {
                          url: 'static/data/cast.json'
                        }
                      });
                      cast_lst.initialize();
                      $('#cast_crew').tagsinput({
                          typeaheadjs: {
                              name: 'cast_lst',
                              displayKey: 'name',
                              valueKey: 'name',
                              source: cast_lst.ttAdapter(),
                              hint: true,
                              minLength: 1
                          },
                          confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                          maxTags: 5, //limit the number of tags
                          freeInput: false, //don't allow the user to submit free text
                          delimiter: ';'
                      });
                  </script>
                </div>
                <div class="form-group col-md-6">
                  <label class="tags center">Keywords:</label>
                  <input id="keywords_list" type="text" data-role="tagsinput" name="keywords" placeholder="e.g. marvel cinematic universe, robot, racism, etc." value="{{old_keywords}}">
                  <span></span>
                  <script>
                      var keywords_lst = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        prefetch: {
                          url: 'static/data/keywords.json'
                        }
                      });
                      keywords_lst.initialize();
                      $('#keywords_list').tagsinput({
                          typeaheadjs: {
                              name: 'keywords_lst',
                              displayKey: 'name',
                              valueKey: 'name',
                              source: keywords_lst.ttAdapter(),
                              hint: true,
                              minLength: 1
                          },
                          confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                          maxTags: 5, //limit the number of tags
                          freeInput: false, //don't allow the user to submit free text
                          delimiter: ';'
                      });
                  </script>
                </div>
              </div>
              <br>
              <div class="form-row duration_row">
                <div class="form-group col-md-6">
                    <label class="tags center">Duration (in minutes):</label>
                    <input id="duration_time" type="text" class="center form-control" name="duration" style="font-weight: 1; font-size: 14px" placeholder="Range (e.g. 90-200) or Single Number (e.g. 90)" value="{{old_duration}}">
                </div>
                <div class="form-group col-md-6 center tags">
                  <div class="form-row">
                    <label class="center">Range of Release Years:</label>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input name="release_start" id="input" class="form-control center form-inline" type="text" list= "year_list" class="form-control" placeholder="Start" style="width:75%; font-weight: 1; font-size: 14px" maxlength="4" value="{{old_release_start}}">
                    </div>
                    <div class="form-group col-md-6">
                      <input name= "release_end" id="input" class="form-control center form-inline" type="text" list= "year_list" class="form-control" placeholder="End" style="width:75%" maxlength="4" value="{{old_release_end}}">
                    </div>
                  </div>
                </div>
                <datalist id="year_list">
                    {% if year_list %}
                        {% for m in year_list %}
                            <option value='{{m}}'>
                        {% endfor %}
                    {% endif %}
                </datalist>
              </div>
              <div class="form-row last_row">
                <div class="form-group col-md-6">
                    <label class="tags center">MPAA Ratings:</label>
                    <input id="ratings_list" type="text" data-role="tagsinput" name="ratings" placeholder="e.g. PG-13, PG, etc." value="{{old_ratings}}">
                     <script>
                      var ratings = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        prefetch: {
                          url: 'static/data/ratings.json'
                        }
                      });
                      ratings.initialize();
                      $('#ratings_list').tagsinput({
                          typeaheadjs: {
                              name: 'ratings',
                              displayKey: 'name',
                              valueKey: 'name',
                              source: ratings.ttAdapter(),
                              hint: true,
                              minLength: 1
                          },
                          confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                          maxTags: 5, //limit the number of tags
                          freeInput: false, //don't allow the user to submit free text
                          delimiter: ';'
                      });
                  </script>
                </div>
                <div class="form-group col-md-6">
                    <label class="tags center">Languages:</label>
                    <input id="language_lst" type="text" data-role="tagsinput" name="languages" placeholder="e.g. English, Japanese, etc." value="{{old_languages}}">
                     <script>
                      var langs = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        prefetch: {
                          url: 'static/data/languages.json'
                        }
                      });
                      langs.initialize();
                      $('#language_lst').tagsinput({
                          typeaheadjs: {
                              name: 'langs',
                              displayKey: 'name',
                              valueKey: 'name',
                              source: langs.ttAdapter(),
                              hint: true,
                              minLength: 1
                          },
                          confirmKeys: [13, 44], //keys user can use to submit tag - comma, add 188 for enter
                          maxTags: 5, //limit the number of tags
                          freeInput: false, //don't allow the user to submit free text
                          delimiter: ';'
                      });
                  </script>
                </div>
              </div>
              <div class="form-row">
                <label class="tags center">Do user ratings matter to you?</label>
                {% if old_acclaim == 'no': %}
                  <div class="form-check tags center" style="height: 10px;">
                      <input class="tags form-check-input" type="radio" name="acclaim" value="yes"> Yes<br>
                  </div>
                  <div class="form-check tags center">
                    <input class="form-check-input" type="radio" name="acclaim" value="no" checked> No<br>
                  </div>
                {% else: %}
                  <div class="form-check tags center" style="height: 10px;">
                    <input class="tags form-check-input" type="radio" name="acclaim" value="yes" checked> Yes<br>
                  </div>
                  <div class="form-check tags center">
                    <input class="form-check-input" type="radio" name="acclaim" value="no"> No<br>
                  </div>
                {% endif %}
              </div>
              <div class="form-row">
                <div class="form-row">
                  <label class="tags center">Does the popularity of the movie matter to you?</label>
                  {% if old_popularity == 'no': %}
                    <div class="form-check tags center" style="height: 10px;">
                        <input class="tags form-check-input" type="radio" name="popularity" value="yes"> Yes<br>
                    </div>
                    <div class="form-check tags center">
                      <input class="form-check-input" type="radio" name="popularity" value="no" checked> No<br>
                    </div>
                  {% else: %}
                    <div class="form-check tags center" style="height: 10px;">
                        <input class="tags form-check-input" type="radio" name="popularity" value="yes" checked> Yes<br>
                    </div>
                    <div class="form-check tags center">
                      <input class="form-check-input" type="radio" name="popularity" value="no"> No<br>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <br>
            <button type=button class="center advanced_button"> Advanced Search </button>
            <br>
            <div class="form-group tags center">
              <button id="getRec" class="btn btn-info"> Get Recommendations </button>
            </div>
          </form>
        </div>
        {% if data %}
        <script>
          $(document).ready(function(){
            $('html, body').animate({
                scrollTop: $("#myCarousel").offset().top
            }, 1000);
    	     });
        </script>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">

            {% for lst in data %}
              <li data-target="#myCarousel" data-slide-to="{{ loop.index0}}"
              {% if loop.index0 == 0 %}
              class="active"
              {% endif %}></li>
            {% endfor %}
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for lst in data %}
            <div class="item {{'active' if loop.index0 == 0}}">
              <div class="row">
              {% for d in lst %}
                <div class="col-md-3 container">
                  <img class="center poster" data-movie="{{ d['id'] }}" data-scores="{{ d['scores'] }}" src="static/data/posters/{{d['id']}}.jpg" style="height:400px; width: 300px; object-fit: fill;" alt="">
                  <div class="post_title" data-movie="{{ d['id'] }}" data-scores="{{ d['scores'] }}" display="none">
                    <p><strong style="font-size: 20px;">{{d['title']}}</strong></p>
                    <p>{{d['release_date']}} </p>
                    <p>User Rating: {{d['tmdb_score_value']}}/10.0</p>
                    <p>Similarity Score: {{d['scores']['overall_score']}}%</p>
                  </div>
                </div>
                <!-- Modal pop-up -->
                <div id="{{ d['id'] }}" class="modal">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-md-4" style="margin-top: 0.5%; margin-bottom: 0.5%; height:510px; width:365px">
                        <img src="static/data/posters/{{d['id']}}.jpg" alt="{{d['title']}}" style="height: 95%; width: 100%; object-fit: fill;">
                      </div>
                      <div class="col-md-8" style="height:100%; width: 60%">
                        <div><strong class="mov_title">{{d['title']}}   </strong> <span class="mov_year">({{d['release_date'][-4:]}})</span></div>
                        <div class="scrollmenu">
                          <a href="#overview" class="current"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;Movie Overview</a>
                          <a href="#show"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Cast and Crew</a>
                          <a href="#search"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Similarity Score</a>
                        </div>
                        <!-- Div for overview -->
                        <div class="content_details overview_details active_modal" style="color: #d0d9e5;">
                            <div class="row">
                              <div class="col-md-4">
                                <p><strong class="heading2">Duration:</strong><br> {{d['runtime']}} min</p>
                              </div>
                              <div class="col-md-8">
                                <p><strong class="heading2">Original Language:</strong><br> {{d['original_language']}}</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <p><strong class="heading2">Rating:</strong><br> {{d['rating']}}</p>
                              </div>
                              <div class="col-md-8">
                                <p><strong class="heading2">Genres:</strong><br>
                                  {% for g in d['genres'][:-1] %}
                                      {{g}},
                                  {% endfor %}
                                  {{d['genres'][-1]}}
                                </p>
                              </div>
                            </div>
                            <br>
                            <p><strong class="heading">Synopsis</strong><br> {{d['summary']}}</p>
                            <br>
                            <p><strong class="heading2">TMDb User Rating:</strong>  {{d['tmdb_score_value']}}/10.0</p>
                            <p><strong class="heading2">IMDb Page:</strong> <a href ="http://www.imdb.com/title/{{d['id']}}" style="color: rgba(121, 190, 247,0.85);">Link</a></p>
                        </div>
                        <!-- Div for show -->
                        <div class="content_details show_details" style="display: none;color: #d0d9e5;">
                        <div class="row">
                          <div class="col-md-6">
                            <p style="margin-bottom: 15px"><strong class="heading">Cast</strong><br>
                            {% for c in d['cast'] %}
                                <span style="font-weight: 200" class="heading2">{{c['name']}}</span> as <span style="font-weight: 200" class="heading2">{{c['character']}}</span>
                                <br>
                            {% endfor %}
                            </p>
                          </div>
                          <div class="col-md-6">
                            <p style="margin-bottom: 20px"><strong class="heading">Crew</strong>
                            <br>
                            {% for c in d['crew'] %}
                                <span style="font-weight: 200" class="heading2">{{c['job']}}:</span> {{c['name']}}
                                <br>
                            {% endfor %}
                            </p>
                          </div>
                        </div>
                        </div>
                        <div class="search_details" style="display: none;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
            {% endfor %}
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      {% else %}
        {% if old_acclaim %}
          <div class="message">Sorry, your search returned no results. Please try again.</div>
        {% endif %}
      {% endif %}

        <div class="footer">
            <p>&copy; 2018 | Angela Zhang: az337, Chris Fifty: cjf92, Newton Ni: cn279, Erik Chan: ejc233, Xinyu Zhao: xz293</p>
        </div>
    </div>
    </body>
</html>
